/* loginStyles.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* .app-container {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

.sidebar h2 {
  margin-top: 0;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.user-input {
  margin-bottom: 20px;
}

.user-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sendloginnow {
  width: 50%;
  margin-left: 5vh;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendloginnow:hover {
  background-color: #0056b3;
}
